<% include head %>
  <h1>Albums</h1>
  <h2>Search</h2>
  <form class="albumSearch" action="/albums/search" method="GET">
    Title:
    <input type="text" name="title">
    Artist:
    <input type="text" name="artist">
    <input type="submit" name="submit" value="search">
  </form>
<% include foot %>
