<% include head %>
  <h1>Albums</h1>
  <h2>Search</h2>
  <form class="albumSearch" action="/albums/search" method="GET">
    Title:
    <input type="text" name="title">
    <input type="submit" value="search">
  </form>
  <%if(albums!==null){ %>
    <%albums.forEach(function(album){ %>
    <div class="row">
      <a href="/albums/<%= album._id%>">
        <div class="col-md-3 pull-right">
          <h4><%= album.year %></h4>
        </div>
        <div class="col-md-3 pull-right">
          <h4><%= album.title %></h4>
        </div>
        <div class="col-md-3 pull-right">
          <h4><%= album.artist %></h4>
        </div>
      </a>
    </div>
    <%})%>
  <%} %>
<% include foot %>
