<% include head %>
<form class='artistNew' action="/artists/new" method="POST">
  <label>Name</label>
  <input type="text" name="name">
  <label>Genre</label>
  <input type="text" name="genre">
  <label>Origin</label>
  <input type="text" name="origin">
  <input type="submit" value='Add'>
</form>
<% include foot %>
