<% include head %>
  <h1>Artists</h1>
  <h3><a href="/artists/new">Add an artist</a></h3>
  <form class="artistSearch" action="/artists/search" method="GET">
    <h3>Search an Artist by name:</h3>
    <input type='text' name="search">
    <input type="submit" value="Search">
  </form>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Genre</th>
        <th>Origin</th>
      </tr>
    </thead>
    <tbody>
      <% artists.forEach(function (artist) { %>
        <tr>
          <td><%= artist.name %></td>
          <td><%= artist.genre %></td>
          <td><%= artist.origin %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% include foot %>
